.home {
    width: 100%;
    height: 100%;
    padding: 4vh 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home__header {
    width: 40%;
}

.home__header--title {
    color: white;
    text-align: center;
    font-size: 28px;
}

.home__users {
    width: 100%;
    padding: 4vh 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}

.home__users--user {
    width: 200px;
    height: 200px;
    position: relative;
    padding: 8px 12px;
    background-color: #444;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 17px;
}

.home__users--user--badge {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    color: white;
    margin: 5px 5px 0 0;
}

.home__users--user--name {
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home__user--name {
    font-size: 21px;
    font-weight: bold;
}

.home__users--user--image {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
}

.home__user--image {
    width: 50%;
    height: 100%;
    border-radius: 50px;
}

.home__users--user--buttons {
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
}

.home__user--compliment, .home__user--profile {
    width: 50%;
    height: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    border: none;
    border-radius: 7px;
    color: white;
    transition: .3s background-color;
}

.home__user--compliment {
    background-color: #6C63FF;
}

.home__user--compliment:hover {
    cursor: pointer;
    background-color: rgba(97, 90, 233, 0.561);
}

.home__user--profile {
    background-color: #222;
}

.home__user--profile:hover {
    cursor: pointer;
    background-color: rgb(24, 24, 24);
}

.home__display {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    background-color: rgba(0, 0, 0, 0.7);
    display: none;
    justify-content: center;
    align-items: center;
}

.home__display--container--tag {
    width: 23rem;
    height: 22rem;
    padding: 0 12px;
    position: relative;
    background-color: #6C63FF;
    border-radius: 7px;
    position: relative;
    display: none;
    flex-direction: column;
    row-gap: 25px;
    overflow: hidden;
}

.home__display--container--profile {
    width: 25rem;
    height: 22rem;
    padding: 12px;
    position: relative;
    background-color: #222;
    color: white;
    border-radius: 7px;
    position: relative;
    display: none;
    flex-direction: column;
    overflow: hidden;
}

.home__display--close {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10;
    margin: 8px 20px;
    color: white;
    transition: .3s color;
}

.home__display--close:hover {
    cursor: pointer;
    color: #4e48c2;
}

.home__display--error {
    position: absolute;
    width: 70%;
    height: 1.5rem;
    margin-top: 10px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    background-color: #ff0033;
    font-size: 12px;
    color: white;
    border-radius: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    display: none;
}

.home__display--page--switch {
    width: 100%;    
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 8px;
    display: flex;
    justify-content: center;
    gap: 5px;
}

.home__display--switch1, .home__display--switch2 {
    width: 25px;
    height: 25px;
    font-size: 13px;
    border-radius: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
}

.home__display--switch1:hover, .home__display--switch2:hover {
    cursor: pointer;
}

.home__display--page--one, .home__display--page--two {
    width: 100%;
    height: 100%;
    position: absolute;
    right: 0;
    transition: .3 transform;
}

.home__display--page--one {
    display: flex;
    flex-direction: column;
}

.home__display--page--two {
    transform: translateX(105%);
}

.home__display--header {
    width: 100%;
    height: 40%;
    padding: 0 20px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.home__display--title {
    color: white;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    line-height: 20px;
}

.home__display--info {
    font-size: 13.5px;
    text-align: center;
    line-height: 17px;
    color: white;
}

.home__display--tag--container {
    width: 100%;
    height: 60%;
    padding-top: 20px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.home__display--tag--list {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 5px;
}

.home__display--tag {
    width: auto;
    height: 30px;
    border-radius: 7px;
    padding: 8px;
    display: flex;
    align-items: center;
    user-select: none;
    border: 0;
}

.home__display--tag:hover {
    cursor: pointer;
}

.home__display--tag--name {
    font-size: 13px;
}

.home__display--message--container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.home__display--form {
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    gap: 15px;
}

.home__display--message--input {
    width: 90%;
    height: 120px;
    resize: none;
    border-radius: 7px;
    border: 2px solid white;
    padding: 8px;
    font-size: 13px;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -ms-transition: all .2s;
    -o-transition: all .2s; 
    transition: all .2s;
}

.home__display--message--input:focus {
    outline: none;
    border-color: #4e48c2;
    transition: .5 all;
}

.home__display--message-button {
    width: 30%;
    height: 15%;
    background-color: white;
    border: 0;
    border-radius: 7px;
    color: #4e48c2;
    transition: .3s all;
}

.home__display--message-button:hover {
    cursor: pointer;
    background-color: #4e48c2;
    color: white;
}

.home__display--badge {
    width: 100%;
    height: 10%;
    position: absolute;
    top: 0;
    display: none;
    justify-content: center;
    align-items: center;
    gap: 5px;
    font-size: 13px;
    color: rgb(143, 143, 143);
}

.home__users--user--panel {
    width: 100%;
    height: 20%;
    position: absolute;
}

.home__display--container--profile--header {
    width: 100%;
    height: 40%;
    display: flex;
    align-items: center;
}

.profile__header--image--container {
    width: 40%;
    height: 100%;
    padding-left: 5px;
    display: flex;
    justify-content: flex;
    align-items: center;
}

.profile__header--image {
    width: 80px;
    border-radius: 50px;
}

.profile__header--about {
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.profile__header--name {
    font-size: 22px;
    font-weight: bold;
}

.profile__header--compliments--counter {
    font-size: 14px;
}

.profile__last-compliments {
    width: 100%;
    height: 60%;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.profile__last-compliments--list {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.profile__last-compliments--title {
    font-size: 14px;
}

.profile__compliment {
    width: 100%;
    height: 50%;
    background-color: #444;
    border-radius: 7px;
    padding: 2px 12px;
    user-select: none;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.profile__compliment--tag {
    width: 100%;
    height: 30%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    font-size: 14px;
    color: white;
}

.profile__compliment--message {
    width: 100%;
    height: 80%;
    display: flex;
    align-items: flex-start;
    font-size: 12px;
    line-height: 17px;
}